In [4]:
library(dplyr)
library(readr)
library(tidytext)

que500 <- read.csv("M:\\Imarticus\\data sets\\Text mining\\500_questions.csv" , header = TRUE,
               stringsAsFactors = FALSE,
               strip.white = TRUE ,
               sep = ',')

In [6]:
words_que500 <- que500 %>% unnest_tokens(word,question)

head(words_que500)
dim(words_que500)

    X    word
1   2254 avg
1.1 2254 of
1.2 2254 42
1.3 2254 what
1.4 2254 is
1.5 2254 a

[1] 13835     2

In [7]:
data(stop_words)
words_que500 <- words_que500 %>% anti_join(stop_words)

head(words_que500)
dim(words_que500)

Joining, by = "word"

  X    word
1 2254 avg
2 2254 42
3 2254 sql
4 2254 view
5 1390 question
6 1390 involving

[1] 6353    2

In [8]:
own_stop_words=data.frame(word=c("avg","view","effect","4","2","2005","object"))
words_que500<- words_que500 %>% anti_join(own_stop_words)

head(words_que500)
dim(words_que500)

Joining, by = "word"
Warning message:
"Column `word` joining character vector and factor, coercing into character vector"

  X    word
1 2254 42
2 2254 sql
3 1390 question
4 1390 involving
5 1390 primary
6 1390 key

[1] 6168    2